---
import Post from '../../layouts/Post.astro';
import { getPost } from '../../data/posts';

const post = getPost('4')!;
---
<Post post={post}>
  <h2>Backpacks: the foundation</h2>

  <p>Backpacks are probably the most important part of backpacking. If you are going to cheap out on anything, your backpack shouldn't be it.</p>

  <h3>Size matters</h3>
  <p>In my opinion, if you know you will backpack for over 3 nights, your bag probably shouldn't be less than 60–65 liters. This is even more prevalent when you are taking other kids with you, and you know you will need to carry extra food and gear.</p>

  <p>In addition to the bag's carrying capacity, its physical sizing is also extremely important. My bag was slightly oversized, so I would have to buy a new one if I grew. However, although it felt fine standing in the shop, when I actually put the bag on and tried it on my test hike, I realized that the oversized hip belt was putting pressure on my waist and causing me sharp pain.</p>

  <figure>
    <img src="/sequoia-tree.jpg" alt="Giant Sequoia tree towering into the blue sky" />
    <figcaption>Standing amongst giants — the scale of nature here is humbling.</figcaption>
  </figure>

  <h2>Prep work & supplies</h2>

  <h3>Cold weather gear</h3>
  <p>Sequoia, being quite the chilly backpacking destination, required a little extra packing work. I manage to get quite cold at night, so I packed some extra goodies to keep me warm. If you are like me, while sleeping you should wear a warm and insulating base layer with thick wool socks and nice gloves/mittens.</p>

  <p>I like to put hand warmers into my gloves and socks when I sleep, just to make sure I stay warm. Down pants and a down vest were also a nice addition to the list.</p>

  <h3>Tent and sleeping bag</h3>
  <p>All tents and sleeping bags will have specified temperatures that they can comfortably withstand. A 10–20 degree sleeping bag would probably do the job for just about any temperature. If your sleeping bag is not meant to withstand the temperatures that you will be facing, you can buy a sleeping bag liner to make it withstand that extra chill (this is to an extent, though — a liner probably won't be able to turn your 60 degree bag into a 20 degree bag).</p>

  <p>Weight and size matter, so buy an ultralight tent that is specified for backpacking to get the best experience. In addition to this, make sure that your tent and pack are small enough to either keep in your bag, or fasten to the outside.</p>

  <figure>
    <img src="/sequoia-misty.jpg" alt="Misty mountain landscape with trees and a lake" />
    <figcaption>Misty mornings in the mountains bring a unique kind of peace.</figcaption>
  </figure>

  <h3>Snacks: fuel for the trail</h3>
  <p>I made the mistake of not bringing snacks, which cost me throughout the whole trip. Having to rely on freeze-dried food the whole time is quite rough, so make sure you have adequate snacks that you can easily eat.</p>

  <p>I have a bit of a sweet tooth, so I ended up yearning for gummies specifically. I think sweet things are the best thing to have for backpacking, but just any easy-to-eat snacks would work great (trail mix, peanut M&amp;M's, gummy worms, and beef sticks seem to be popular choices).</p>

  <h2>Useful gear</h2>

  <p>I think the most useful thing I had with me was either my hiking poles or my gloves. The trail that I hiked on was very rugged, with steep up- and downhills. I think the poles might have actually helped more on the downhills than the uphills. I know some people that didn't think they would need them, or didn't want to hold extra gear, but most of them ended up regretting it in the end.</p>

  <p>My recommendation is to just try them out at a test hike (which you should definitely go to before your first backpacking) and see if you like them or not. The gloves are pretty self-explanatory and you will definitely need them when you sleep if it goes below 40 degrees.</p>

  <p>When you go downhill, your toes repeatedly slam against the front of your hiking boots. Personally, this didn't happen to me as I was careful to brace with my hiking poles, but I know some people who had pretty bad blisters or purple toes from the impact. If this is a problem for you, there are gel toe protectors that you can put on the toe that is bothering you. Insoles are also a good thing to have for long journeys.</p>

  <p>A hydration pack like a Camelbak or Osprey is a really nice addition when it comes to what holds your water. It makes it a lot easier than having a physical bottle and often leads to you drinking more water.</p>

  <figure>
    <img src="/sequoia-stars.jpg" alt="Starry night sky over Sequoia National Park" />
    <figcaption>The night sky in Sequoia is absolutely mesmerizing.</figcaption>
  </figure>

  <h2>Reflections</h2>

  <p>My first backpacking trip was not perfect, but it was definitely special, and in the end, the goal is just to have fun. As long as you have food, water, a tent, and a sleeping bag, you will be fine.</p>

  <blockquote>
    <p>I think the best thing to do when you realize you made a mistake is to just brush it off and carry on — don't let the regrets of your decisions weigh down your experience.</p>
  </blockquote>
</Post>
