---
import SunlitZone from './zones/SunlitZone.astro';
import TwilightZone from './zones/TwilightZone.astro';
import MidnightZone from './zones/MidnightZone.astro';
import AbyssZone from './zones/AbyssZone.astro';
import AscentZone from './zones/AscentZone.astro';
import ResurfaceZone from './zones/ResurfaceZone.astro';
import DepthMeter from './DepthMeter.tsx';
import HomeNav from './HomeNav.astro';
import ScrollProgress from '../motion/ScrollProgress.tsx';
import PaletteScroll from '../motion/PaletteScroll.client.tsx';
import DepthFx from '../motion/DepthFx.client.tsx';

interface Props {
  achievements: Array<{
    title: string;
    organization: string;
    date: string;
    description: string;
  }>;
  featuredPhotos: Array<{ src: string; alt: string; caption?: string }>;
  featuredPosts: Array<{
    href: string;
    title: string;
    excerpt: string;
    image: string;
    category: string;
    date: string;
    readTime?: string;
  }>;
}

const { achievements, featuredPhotos, featuredPosts } = Astro.props;
---
<div id="dive-root" class="relative">
  <PaletteScroll client:load />
  <ScrollProgress client:idle />
  <DepthFx client:idle />
  <DepthMeter client:idle />
  <HomeNav />
  <SunlitZone />
  <TwilightZone photos={featuredPhotos} />
  <MidnightZone posts={featuredPosts} />
  <AbyssZone achievements={achievements} />
  <AscentZone />
  <ResurfaceZone />
</div>
